.register-page{

}

.register-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.register-form_input{
    width: 500px;
    height: 50px;
    margin-top:10px;
}